<html>
<head>
  <meta name="description" content="A tool to track the domain expiry dates status of websites of user's choice"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<title> Domain Tracker</title>


<center><h1>Domain Tracker Tool</h1></center>

<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>







</head>

<body>

<form align="center">
<div class="form-group">
  <h4>Enter the URL</h4>
<input type="text" name="url" id="url_input"></input>
</div>
<div class="form-group">
<input class="btn btn-primary" value="Submit" id="submit_btn">
</div>
</form>




<center><button type="button" class="btn btn-info" id="view_btn">View Database</button></center>


<div id="display" align="center">

{{details | safe}}

</div>





<script type="text/javascript">

var field=document.getElementById("submit_btn");
field.addEventListener("click",function(){
          var input_url=document.getElementById("url_input").value;
          console.log("input->"+input_url)
          $.get('/submit_domain', {url:input_url}, function(data) {
            console.log("done");
            $('#view_btn').click();
        });


});
</script>

<script type="text/javascript">

var btn=document.getElementById("view_btn");
btn.addEventListener("click",function(){

          $.getJSON('/view_database', {}, function(data) {
          document.getElementById("display").innerHTML=data;
        });


});

</script>




<script>
// var XMLHttpRequest = require("xmlhttprequest").XMLHttpRequest;
// var btn=document.getElementById("view_btn");
// btn.addEventListener("click",function(){
//   var req=new XMLHTTPRequest();
//   req.open("GET","/view_database");
//   req.onload=function(){
//     var data=JSON.parse(req.response.Text);
//     renderHTML(data);
//   };
//   req.send();
// });
</script>

















</body>
</html>